<html>
    <head>
        <title>Pixel to App</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Generated Android Project</h1>
            </div>
            <div id="content">
                This is the generated project
            </div>
            <BR><BR>
			<div id="content">
                Name of Project: <strong>{{name_of_file}}</strong>
        </div>
			<img src={{checkImage}} height="200" alt="Image preview...">

    </body>
</html>